---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<!--
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
-->
<header class="masthead" id="headerImage" >
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
<!--            <h1>{{ site.title }}</h1>  -->
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  <div  align="center" >
      <table width="50%" >
        <tr >
          <td align='left'  width="40%" style="padding-left:20vw;">
              <span id='waterTempLabel' style='font-size: 5vw; color:white;' >Vatten</span>  
          </td>
          <td  align='right' width="60%" style="padding-right:20vw;">
              <span id='waterTemp' style='font-size: 5vw; color:white;' ></span>
          </td>
        </tr>
        <tr >
            <td align='left' width="40%" style="padding-left:20vw;">
                <span id='airTempLabel' style='font-size: 5vw; color:white;' >Luft</span> 
            </td>
            <td align='right' width="60%" style="padding-right:20vw;"> 
                <span id='airTemp' style='font-size: 5vw; color:white;' ></span>
            </td>
        </tr>
      </table>
    </div>


